<html></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <h3>Form has been summited</h3>

    <form action="/sendMail" method="POST">

        <label>Enter Email: </label>
        <input type="email" placeholder="Email" name="email"><br><br>
       
        <input type="submit" value="send"/>
    </form>

    <h3>Enter any email address on which you want your generated pdf</h3>
    
</body>
</html>



